body{
  margin: 0;
  padding: 0;

}
.transition-all {
  transition: all 0.3s ease-in-out;
}

.opacity-0 {
  opacity: 0;
  transform: translateY(-10px);
}

.opacity-100 {
  opacity: 1;
  transform: translateY(0);
}
