@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Mrs+Saint+Delafield&display=swap');

/* IBM Plex Mono */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* inter */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* Alex Brush */
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

img {
  background-size: cover;
  border-radius: 2px;
}

.transition-all {
  transition: all 0.3s ease-in-out;
}

.opacity-0 {
  opacity: 0;
  transform: translateY(-10px);
}

.opacity-100 {
  opacity: 1;
  transform: translateY(0);
}


.box {
  background-color: #f6f6f6;
}

.box:hover {
  background-color: white;
  box-shadow: 5px 5px 15px #dfdcdcaf;
  transition: 0.8s ease-in-out;

}

.box:hover .btn {
  background-color: #f6f6f6;
}


/* Home Page Images */

.hi-1 {
  background-image: url(https://res.cloudinary.com/doqdlneyl/image/upload/c_crop,ar_4:3/v1725689811/IMG_9852_vgbbxt.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hi-2 {
  background-image: url(https://res.cloudinary.com/doqdlneyl/image/upload/v1725689496/VIN_9386_w6dous.jpg);
  background-size: cover;

}

.hi-3 {
  background-image: url(https://res.cloudinary.com/doqdlneyl/image/upload/v1725689800/9W8A6492_kopxbz.jpg);
  background-size: cover;
}

.celine {
  background-image: url(https://res.cloudinary.com/doqdlneyl/image/upload/v1725950892/VIN_1283_xliu8r.jpg);
  background-size: cover;
}
.oneet{
  background-image: url(https://res.cloudinary.com/doqdlneyl/image/upload/v1726208667/VIN_2892_y8evak.jpg);
  background-size: cover;

}

.bd-1 {
  background-image: url(https://res.cloudinary.com/doqdlneyl/image/upload/v1725950886/VIN_1201_qgfdwg.jpg);
  background-size: cover;
}

.bd-2 {
  background-image: url(https://res.cloudinary.com/doqdlneyl/image/upload/v1725950892/VIN_1283_xliu8r.jpg);
  background-size: cover;

}

.bd-3 {
  background-image: url(https://res.cloudinary.com/doqdlneyl/image/upload/v1725950878/VIN_1175_pb6m2c.jpg);
  background-size: cover;
}
.eve-1{
  background-image: url(https://res.cloudinary.com/doqdlneyl/image/upload/v1726208670/VIN_2917_kkwe4l.jpg);
  background-size: cover;
}

.eve-2{
  background-image: url(https://res.cloudinary.com/doqdlneyl/image/upload/v1726208668/VIN_2903_ewiy78.jpg);
  background-size: cover;
}
.eve-3{
  background-image: url(https://res.cloudinary.com/doqdlneyl/image/upload/v1726208662/VIN_3199_yl8vx2.jpg);
  background-size: cover;
}


.tra {
  transform: scale(0.9) ease-in-out 1s;
  background-color: #f6f6f6;
  box-shadow: 0px 0px 15px #dfdcdcaf;

}

.bg-glass {
  backdrop-filter: blur(2px);
}

.bitmoji {
  height: 40px;
  width: 40px;
  background-image: url(../public/Assets/images/bitmoji.png);
  background-size: cover;
}


@media screen and (min-width:1360px) {
  .hi-1 {
    background-image: url(https://res.cloudinary.com/doqdlneyl/image/upload/c_crop,ar_16:9/v1725689804/9W8A7786_g5cvns.jpg);
  }
  .hi-2 {
    background-image: url(https://res.cloudinary.com/doqdlneyl/image/upload/v1725348386/6R6A9177_igkrjc.jpg);
  }
  .hi-3 {
    background-image: url(https://res.cloudinary.com/doqdlneyl/image/upload/v1725689812/IMG_9861_z5zm28.jpg);
  }
  .bd-3 {
    background-image: url(https://res.cloudinary.com/doqdlneyl/image/upload/v1725950875/VIN_1144_bsb85n.jpg);
  }
  .eve-1{
    background-image: url(https://res.cloudinary.com/doqdlneyl/image/upload/c_crop,ar_16:9/v1726208667/VIN_2891_msrkih.jpg);
  }
  .eve-2{
    background-image: url(https://res.cloudinary.com/doqdlneyl/image/upload/c_crop,ar_1:1/v1726208671/VIN_2986_cysndf.jpg);
  }
  .eve-3{
    background-image: url(https://res.cloudinary.com/doqdlneyl/image/upload/c_crop,ar_1:1/v1726208667/VIN_3272_qnxpei.jpg);
  }
}