@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bgmain {
        background-color: #f6f6f6;
    }

    .bsh {
        box-shadow: 0px 0px 15px #dfdcdcaf;
    }

    .b-c {
        background-color: #eceff163;
    }
    .hi-1{
        background-image: url(../public/Assets/images/w-1.jpg);
        background-size: cover;
    }
    .hi-2{
        background-image: url(../public/Assets/images/w-2.jpg);
        background-size: cover;
    }
    .hi-3{
        background-image: url(../public/Assets/images/w-3.jpg);
        background-size: cover;
    }
    .tra{
        transform: scale(0.9) ease-in-out 1s;
        background-color: #f6f6f6;
        box-shadow: 0px 0px 15px #dfdcdcaf;
      
    }
    .bitmoji{
        height: 40px;
        width: 40px;
        background-image: url(../public/Assets/images/bitmoji.png);
        background-size: cover;
    }
    .bg-ver{
        background-image: url(../public/Assets/images/Indian/ind-vertical.jpg);
        background-size: cover;
        border-radius:4px;
    }
    .bg-ver2{
        background-image: url(../public/Assets/images/Indian/ver-2.jpg);
        background-size: cover;
        border-radius:4px;
        background-repeat: no-repeat;
    }
    .bg-sq{
        background-image: url(../public/Assets/images/Indian/ind-sq.jpg);
        background-size: cover;
        border-radius:4px;
    }
    .bg-sq1{
        background-image: url(../public/Assets/images/Indian/ind-sq\ 1.jpeg);
        background-size: cover;
        border-radius:4px;
    }
    .bg-sq2{
        background-image: url(../public/Assets/images/Indian/ind-sq\ 2.jpeg);
        background-size: cover;
        border-radius:4px;
    }
    .bg-land{
        background-image: url(../public/Assets/images/Indian/indian-land\ 2.jpg);
        background-size: cover;
        border-radius:4px;
    }
    .bg-land-2{
        background-image: url(../public/Assets/images/Indian/hands-land.jpg);
        background-size: cover;
        border-radius:4px;
    }
    .bg-land-1{
        background-image: url(../public/Assets/images/w-1.jpg);
        background-size: cover;
        border-radius:4px;
    }
    .bg-sq3{
        background-image: url(../public/Assets/images/w-3.jpg);
        background-size: cover;
        border-radius:4px;
    }
    .big:hover img{
        transform: scale(0.8);
        transition: ease-in-out 1s;
    }
    .small:hover{
        transform: scale(1.03);
        transition: ease-in-out 1s;

    }
}